/* 
body {
    background-image: url("../images/18410.jpg");
    text-align: center;

    font-family:"verdana";
}

.content {
    margin: 0 20%;
}

h1 {
    margin-top: 120px;
    margin-bottom: 80px;
    font-size:90px;
} */


.mujer-comment {
    background-color:rgb(183, 247, 183);
}


.anciano-comment {
    background-color:bisque;

}

.comment {
    padding: 50px;
    border-radius:50px;
}


.anciano-section, .mujer-section {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.anciano-section {
    margin-left: -25%;
    margin-right: 25%;
}

.mujer-section {
    margin-left: 25%;
    margin-right: -25%;
}

.anciano-image, .mujer-image {
    
    opacity: 0;
    /* Ocultar inicialmente */
    /* Mover hacia la izquierda inicialmente */
    transition: all 0.5s ease-in-out;
    transform: translateX(100px);
    /* rotate: -10deg; */

}

.anciano-image {
    transform: translateX(-100px);
    /* rotate: 10deg; */

}

.anciano-comment {
    opacity: 0;
    /* Ocultar inicialmente */
    /* Mover hacia la izquierda inicialmente */
    transition: all 0.5s ease-in-out;
    transform: translateX(50px);
}
.mujer-comment {
    opacity: 0;
    /* Ocultar inicialmente */
    /* Mover hacia la izquierda inicialmente */
    transition: all 0.5s ease-in-out;
    transform: translateX(-50px);
}

.anciano-comment.active, .mujer-comment.active {
    opacity: 1; /* Hacer visible */
    transform: translateX(0); /* Volver a su posición normal */
}


.anciano-image.active, .mujer-image.active {
    opacity: 1; /* Hacer visible */
    transform: translateX(0); /* Volver a su posición normal */
}


.image-wrapper {
    display:flex;
    align-items:end;
}

.character {
    width: 200px;
    /* margin-bottom: 4%; */
}

.anciano-section {
    font-family: "Playwrite IS", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }

  .mujer-section {
    font-family: "Delius Swash Caps", serif;
    font-weight: 400;
    font-style: normal;
  }

  .content {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }

  .inside-image {
    width:200px;
  }



  .mujer-image {
    margin-left: -50%;
    margin-bottom:-10%;
  }

  .anciano-image {
    margin-right: -50% !important;
    margin-bottom:-10%;
    /* max-width: auto; */
  }















  /* La otra pagina */

  .todo-centrado {
    display: flex;
    text-align: center;
  }









